.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(252, 203, 144, 1),
    rgba(213, 126, 235, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom right,
    rgba(252, 203, 144, 1),
    rgba(213, 126, 235, 1)
  );
}

.buttonload {
  background-color: #04aa6d; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
}

.query-button {
  position: fixed;
  right: 25%;
  bottom: 70px;
  color: #c0bbbb;
}

.input-search {
  align-content: center;
  width: 100%;
  flex: 1;
  position: fixed;
  bottom: 5px;
}

.input-search input {
  display: block;
  width: 70%;
  height: 150px;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 0px;
  border-color: #e4dbdb;
  border-left: none;
  border-right: none;
  border-bottom: none;
  
}
.form-control:focus {
  outline: 0;
  border-color: #e4dbdb;
}

.search-btn {
  width: 58px;
  height: 100%;
  color: #ffffff;
  background-color: #333333;
  font-size: 16px;
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

.search-btn i {
  font-size: 24px;
}

.search-menu {
  display: none;
  width: 70%;
  padding: 20px 30px;
  color: #999999;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: calc(100% + 4px);
  left: 0;
  background-color: rgb(214, 206, 206);
  z-index: 1;
}

.search-related li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3b3b3b;
  font-size: 16px;
  text-decoration: none;
  line-height: 32px;
}

.search-related li:hover {
  color: #777777;
  cursor: pointer;
}

.slash-container {
  margin-left: 5%;
  height: 140px;
}

.results {
  padding-left: 5%;
  position: fixed;
  bottom: 12%;
}

.mask-custom {
  border: none;
  width: 100%;
}

#hidden {
  height: 100%;
  border-collapse: collapse;
}

#table-data {
  padding-left: 3%;
  padding-right: 20%;
  bottom: 15%;
  position: fixed;
}
::-webkit-scrollbar {
  width: 9px; 
  display: none;
  
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

}
.table-col {
  height: 569px;
  z-index: -1;
}
.table {
  background-color: #eee;
  height: 100%;
  margin-bottom: 0;
}
tr{
  border-collapse: collapse;
    padding: 0px;
    display: grid;
}
.table-responsive {
  height: 100%;
}
